body {
    margin-top: 50px;
    margin-left: 50px;
}

.adatok {
    list-style: none;
    display: inline-block;
    text-align: justify;
}

.adatok2 {
    list-style: none;
    display: inline-block;
    text-align: justify;
}

.en {
    padding-left: 150px;
}

.sz h3 {
    padding-left: 40px;
}

.t h3 {
    padding-left: 40px; 
}

.ev {
    list-style: none;
    display: inline-block;
}

.iskolak {
    list-style: none;
    display: inline-block;

}

.hobbi {
    padding-left: 40px;
}

